{% extends "sales_performance/base.html" %}


{% block content %}
    <h1> Data Visualization </h1>

    <canvas id="bar-graph"></canvas>

    <script>
    $(document).ready(function () {
        let endpoint = 'sale-api';

        $.ajax({
            method: 'GET',
            url: endpoint,
            success: function (data) {
                drawBarGraph(data, 'bar-graph');
            },
            error: function (error_data) {
                console.log(error_data);
            }
        });

        function drawBarGraph(data, id) {
            let labels = data.labels;
            let chartLabel = data.name;
            let chartdata = data.sales;
            let ctx = document.getElementById(id).getContext('2d');
            let myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: chartLabel,
                        data: chartdata,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
    });
    </script>

    {#    <script>#}
    {#        let ctx = document.getElementById('chart-data');#}
    {#        let myChart = new Chart(ctx, {#}
    {#            type: 'bar',#}
    {#            data: {#}
    {#                labels: '{{ labels }}',#}
    {#                datasets: [{#}
    {#                    label: 'Sales',#}
    {#                    data: [12, 19],#}
    {#                    backgroundColor: [#}
    {#                        'rgba(255, 99, 132, 0.2)',#}
    {#                        'rgba(54, 162, 235, 0.2)',#}
    {#                        'rgba(255, 206, 86, 0.2)',#}
    {#                        'rgba(75, 192, 192, 0.2)',#}
    {#                        'rgba(153, 102, 255, 0.2)',#}
    {#                        'rgba(255, 159, 64, 0.2)'#}
    {#                    ],#}
    {#                    borderColor: [#}
    {#                        'rgba(255, 99, 132, 1)',#}
    {#                        'rgba(54, 162, 235, 1)',#}
    {#                        'rgba(255, 206, 86, 1)',#}
    {#                        'rgba(75, 192, 192, 1)',#}
    {#                        'rgba(153, 102, 255, 1)',#}
    {#                        'rgba(255, 159, 64, 1)'#}
    {#                    ],#}
    {#                    borderWidth: 1#}
    {#                }]#}
    {#            },#}
    {#            options: {#}
    {#                scales: {#}
    {#                    yAxes: [{#}
    {#                        ticks: {#}
    {#                            beginAtZero: true#}
    {#                        }#}
    {#                    }]#}
    {#                }#}
    {#            }#}
    {#        });#}
    {#    </script>#}


{% endblock content %}

