{% extends "sales_performance/base.html" %}

{% block content %}

    <h1> Sales Performance </h1>
    
    <div class="row text-center">
        {% for card in cards %}
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text">{{ card.content }}</p>
                        <a href="{{ card.link }}" class="btn btn-primary">{{ card.button }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock content %}